<%-include('../partials/header')-%>
<section class="cabsec">
    <div class="sell">
        <h2>Get paid for the stuff you don't really need!</h2>
        <a href="/sell" class="btn btn-lg btn-secondary">Sell now!</a>
    </div>
    <div class="buy" style="margin: 5rem 0 0 ;">
        <h2>Wanna buy stuff!</h2>
        <h6>Explore here, items are waiting to be chosen.</h6>
        <h4>Select categories below:</h4>
        <form action="/buy" method="POST">
            <div >
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="category" value="Study_Material">
                <label class="form-check-label">Study Material</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="category" value="Cycle">
                <label class="form-check-label">Cycle</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="category" value="Sports_Equipment" >
                <label class="form-check-label">Sports Equipments</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="category"  value="Apparel">
                <label class="form-check-label">Apparel</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="category"  value="Others">
                <label class="form-check-label">Others</label>
              </div>
              </div>
              <button type="submit" class="btn btn-outline-secondary">Explore!</button>
        </form>
    </div>
</section>
<%- include('../partials/footer')-%>
</body>
</html>