<%-include('../partials/header')-%>
<section class="cabsec container">
    <form action="/cabshare/offer" method="POST" autocomplete="off">
        <div class="form-group">
            <label>Date of the ride</label>
            <input type="date" class="form-control" placeholder="Enter date of your ride" name="date">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Your Name" name="name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label>Phone no.</label>
            <input type="tel" class="form-control" placeholder="Enter Phone no." name="phone_no">
        </div>
        <div class="form-group">
            <label>Destination</label>
            <input type="text" class="form-control" placeholder="Destination for your ride" name="destination">
        </div>
        <div class="form-group">
            <label>Approx. time of Departure</label>
            <input type="time" class="form-control" placeholder="Enter approximate time for the departure" name="departure_time">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</section>
<%-include('../partials/footer')-%>
</body>
</html>