<%-include('partials/header')-%>
<section class="cabsec">
<h1>Let's hit the road together</h1>
<a href="/cabshare/find" class="btn btn-outline-secondary btn-lg" role="button">Find a Ride</a>
<a href="/cabshare/offer" class="btn btn-outline-secondary btn-lg" role="button">Offer a Ride</a>
</section>
<%- include('partials/footer')-%>
</body>
</html>