<%-include('partials/header')-%>

          <div class="intro">
              <h1>IITK<span>ompanion</span></h1>
              <p>Hostel Life! Uff!.Dont't worry this is gonna make your life easier.</p>
          </div>
    </section>
    <section class="container second">
       <div class="services">
           <h3>Services</h3>
       </div>
       <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <a href="/faculty" class="Faculty"> 
            <div class="service ftco-animate fadeInUp ftco-animated">
                  <span class="icon">
                     <i class="flaticon-teacher"> </i>
                  </span>
                  <div>
                      <p>FACULTY</p>
                  </div>
                  <hr>
            </div>
        </a>
          </div>
          <div  class="col-lg-3 col-md-6">
            <a href="/cabshare" class="Cab-Share">
              <div class="service">
        
                <span class="icon">
                   <i class="flaticon-taxi"></i>
                </span>
                <div>
                    <p>CAB-SHARE</p>
                </div>
                <hr>
          
        </div>
    </a>
          </div>
          <div  class="col-lg-3 col-md-6">
            <a href="/buysell" class="Buy-Sell">
              <div class="service">
           
                <span class="icon">
                    <i class="flaticon-buy"></i>
                </span>
                <div>
                    <p>BUY-SELL</p>
                </div>
                <hr>
          
        </div>
    </a>
          </div>
          <div  class="col-lg-3 col-md-6">
            <a href="/lostfound" class="Lost-Found">
              <div class="service">
                <span class="icon">
                    <i class="flaticon-sell"></i>
                </span>
                <div>
                    <p>LOST-FOUND</p>
                </div>
                <hr>
           
        </div>
    </a>
          </div>
        </div>
       </div>
    </section>
    <%- include('partials/footer')-%>
    <script src="home.js" charset="utf-8"></script>
</body>
</html>